@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin-regular.woff") format("woff"), url("../fonts/roboto-v30-latin-regular.ttf") format("truetype"), url("../fonts/roboto-v30-latin-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.link {
  display: flex;
  gap: 10px;
  align-items: center;
}

.logo {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.msk {
  text-decoration: none;
  color: #111111;
}

.img-icon {
  display: flex;
  gap: 15px;
  margin-left: 78px;
}

.number {
  margin-left: 100px;
  margin-top: 30px;
}

.numb {
  margin-bottom: 0;
  color: #007198;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
}

.strong {
  font-family: "Roboto", sans-serif;
}

.h5 {
  margin-top: 0;
  padding-top: 0;
  color: #111111;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.nav {
  display: flex;
  justify-content: space-between;
  max-width: 1162px;
  margin-top: 20px;
}

.nav__link {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #111111;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.container-2 {
  height: 518px;
  background: rgba(72, 184, 223, 0.2);
  margin-top: 10px;
}

.text {
  font-weight: 600;
  font-size: 50px;
  line-height: 64px;
}

.btn {
  padding: 13px 21px;
  background: #F47220;
  border: #F47220;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(244, 114, 32, 0.4);
  border-radius: 10px;
}

.span {
  color: #007198;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.img-card {
  position: relative;
}

.img-1 {
  width: 270px;
  position: absolute;
  top: 0;
  left: 0;
}

.img-2 {
  position: absolute;
  top: 30px;
  left: 310px;
}

.img-3 {
  position: absolute;
  top: 250px;
  left: 17px;
}

.img-4 {
  position: absolute;
  top: 250px;
  left: 310px;
}

.h2 {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
}

.card-four {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 70px;
}

.card-items {
  width: 275px;
  background: #DAF1F9;
  position: relative;
  color: #111111;
  border-radius: 18px;
  box-shadow: 3px 3px 5px rgba(17, 17, 17, 0.25);
}

.elipse {
  position: absolute;
  top: -42px;
  left: 98px;
  width: 70px;
  height: 70px;
}

.h4 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 0;
  text-align: center;
}

.desc {
  width: 254px;
  padding: 0 20px 16px 21px;
  font-size: 18px;
}

.six-box {
  margin-top: 75px;
}

.title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
}

.card-img {
  display: grid;
  gap: 21px;
  grid-template-columns: repeat(3, 1fr);
}

.img-six {
  width: 350px;
}

.subtitle {
  font-weight: 600;
  font-size: 18px;
  margin-left: 90px;
  margin-top: 10px;
}

.number-orange {
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  margin-left: 140px;
  margin-top: 28px;
  color: #F47220;
}

.btn-gray {
  margin-left: 130px;
  margin-top: 14px;
  margin-bottom: 40px;
  padding: 8px 13px 8px 13px;
  border: 1px solid #F47220;
  border-radius: 10px;
}

.four-card {
  margin-top: 83px;
}

/*# sourceMappingURL=style.css.map */
