@media (max-width: 1650px) {
  .adaptive-1 {
    display: flex;
  }
  .hamburger {
    display: block;
  }
  .nav {
    background: #333;
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 4;
    transition: 0.3s;
    transform: translateX(100%);

    &.is-active {
      transform: translateX(0);
    }
  }
}
