@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/roboto-v30-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v30-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v30-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v30-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
  }

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto',sans-serif;
    text-decoration: none;
}

.container{
    max-width: 1160px;
    margin: 0 auto;
}
.link{
    display: flex;
    gap: 10px;
    align-items: center;
}
.logo{
    width: 500px;
    // margin-left: 380px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.msk{
    text-decoration: none;
    color: #111111;
}
.img-icon{
    display: flex;
    gap: 15px;
    margin-left: 78px;
}
.number{
    margin-left: 100px;
    margin-top: 30px;

}
.numb{
    margin-bottom: 0;
    color: #007198;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;

    text-decoration: none;

}
.strong{
    font-family: 'Roboto',sans-serif;
    
}
.h5{
    margin-top: 0;
    padding-top: 0;
    color: #111111;
    font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;
}



.nav{
    display: flex;
    justify-content: space-between;
    max-width: 1162px;
    margin-top: 37px;

}
.nav__link{
    font-family: 'Roboto',sans-serif;

    text-decoration: none;
   color:#111111 ; 
   font-weight: 400;
font-size: 14px;
line-height: 18px;
}
// nav end 

.container-2{
    height: 518px;
    background: #48B8DF33;
    margin-top: 10px;
}
.text{
    font-weight: 600;
    font-size: 50px;
    line-height: 64px;

}

.btn{
    padding: 13px 21px;
    background: #F47220;
    border: #F47220;
    border-radius: 10px;
}
.span{
    color: #007198;
}
.card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.text{
    // padding-left: 370px;
}
.btn{
    // margin-left: 370px;
    // margin-top: 20px;

}
.img-card{
    position: relative;
}
.img-1{
    width: 270px;
    position: absolute;
    top: 0;
    left: 0;
}
.img-2{
    position: absolute;
    top: 30px;
    left:310px;
}.img-3{
    position: absolute;
    top: 250px;
    left:17px;
}.img-4{
    position: absolute;
    top: 250px;
    left: 310px;
}
// главная страница конец
.h2{
    text-align: center;
    font-weight: 600;
font-size: 30px;
line-height: 38px;
}
.card-four{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.card-items{
    width: 275px;
    height: 169px;
    background: #DAF1F9;
    position: relative;
    // text-align: center;
    color: #111111;
}
.elipse{
    position: absolute;
    top: -42px;
    left: 98px;
    width: 70px;
    height: 70px;
}
.h4{
    font-family: 'Roboto',sans-serif;
// font-weight: 600;
font-size: 18px;
line-height: 23px;
margin-top: 30px;
margin-bottom: 5px;
text-align: center;

}
.desc{
    font-size: 10px;
    width: 234px;
    font-family: 'Roboto',sans-serif;
font-weight: 400;
padding: 5px 20px 16px 21px;
font-size: 18px;
line-height: 23px;
}